

#checkout-container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

#checkout-flex-child {
    height: 75vh;
    width: 60vw;
    border: black 1px solid;
    display: flex;
}

#checkout-img-section, #checkout-shoe-section {
    height: 100%;
    width: 50%;
    border: pink 1px solid;
}

#flex-container-ch {
    width: 100%;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px rgb(0, 0, 0);
    margin-bottom: 15px;
}

#img-section-ch {
    height: 75%;
    margin-bottom: 5px;
    width: 30%;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

#text-section-ch {
    height: 80%;
    width: 30%;
    
}

#quantity-delete {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}

#name-exit-ch {
    display: flex;
    height: 33%;
    justify-content: space-between;
}

#name-exit-ch p {
    padding-right: 10px;
}

#price-remove-ch {
    display: flex;
    height: 33%;
    justify-content: space-between;
    align-items: end;
}

#button-container-ch {

    cursor: pointer;
}
#wider-button {
    width: 55px;
}

#arrow-icon-ch {
    padding-right: 5px;
}

/* Modal styling */

#style-details-container {
    height: 100%;
    width: 100%;
    background-color: pink;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#close-modal {
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
}

#shoe-header, #shoe-description, #shoe-img-details, #worn-by {
    width: 100%;
    border: 1px solid salmon;
}

#shoe-header {
    height: 15%;
}

#shoe-description {
    height: 70%;
    display: flex;

}

#text-component {
    width: 50%;
    height: 100%;
    background-color: white;
}

#image-compnent {
    width: 50%;
    height: 100%;
    
}



#worn-by {
    height: 15%;
}







