

#filter-container {
    border: red solid 1px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#red {
    height: 15px;
    width: 15px;
    background-color: red;
}

#green {
    height: 15px;
    width: 15px;
    background-color: green;
}

#button-container {
    display: flex;
    align-items: center;
}

#flex-child-buttons {
    display: flex;
}