
#main-section {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}

#selected-footer, #selected-header {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #494F55;
}

#main-flex-container {
    width: 80vw;
    height: 70vh;
    display: flex;
    border: solid black 1px;
}

#image-section, #description-section {
    width: 50%;
    height: 100%;
    
}

#image-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#img-container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-right: solid black 1px;
   
}

#size-selection {
    width: 100%;
    height:40%;
    background-color: rgb(255, 255, 255);
    border-right: solid black 1px;
}

#grid-container-size {
    display: grid;
    height: 90%;
    background-color: rgb(255, 255, 255);
    row-gap: 15px;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}
#button-div p {
    width: 50px;
}

#shopping-trolley {
    padding-top: 10px;
    padding-left: 0px;
    
}

#cartcounter {
    padding-right: 10px;
    padding-left: 10px;
    background-color: black;
    color: white;
}

#checkout-div {
    width: 250px;
    height: 50px;
}

#checkout-div p {
    font-size: 1.5rem;
}
#checkout-button {
    width: 100px;
    color: black;
}

#button-div {
    text-align: center;
}



#size-button {
    height: 75px;
    background-color: rgb(68, 76, 139);
    color: white;
}

#size-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#description-section {
    display: flex;
    flex-direction: column;
}
#shoe-name {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    
}

#shoe-name h1 {
    padding-top: 10px;
    padding-left: 5px;
}

#shoe-name h2 {
    padding-top: 10px;
    padding-right: 5px;
    margin-bottom: 14px;
    margin-top: 0;
}

#characteristic-buttons {
    height: 5%;
    display: flex;

    padding-left: 15px;
    margin-bottom: 15px;
    
   
}
#characteristic-buttons p {
    font-size: 1.3rem;
}

#description {
    height: 40%;
    padding-left: 15px;
    padding-right: 15px;
    
}
#description p {
    font-size: 1.2rem;
}

#checkout {
    height: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#add-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

#continue-shopping {
    height: 60px;
}

#twobutton-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#shoetype-button {
    background-color: rgb(68, 76, 139);
    color: white;
}



/* Header Styling
- selected header already has flex and max h/w
*/

#header-flex-child {
    width: 100px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 243, 233);
}

#TTS {
    padding: 0;
    margin: 0;
}










/* footer styling */

#reveal-wrapper {
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#reveal {
    width: 100%;
    height: 100%;
}

#revealContent {
    width: 100%;
    height: 100%;
    cursor: pointer;

}

#hidden-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #494F55;
}

#see-more-flex-child {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #494F55;
    
}

#left-border, #right-border {
    
    height: 100%;
    width: 5%;
    border-top:  3px solid rgb(255, 243, 233);
    border-bottom: 3px solid rgb(255, 243, 233);
}

#left-border {
    border-left: 3px solid rgb(255, 243, 233);
}

#right-border {
    border-right: 3px solid rgb(255, 243, 233);
}

#middle-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgb(255, 243, 233);
}

#angle-down {
    padding-bottom: 5px;
    color: rgb(255, 243, 233);
}

#angle-up {
    padding-bottom: 5px;
    color: rgb(255, 243, 233);
}

#extended-footer {
    height: 500px;
    width: 100%;
    background-color: #494F55;
    display: flex;
    align-items: center;
    justify-content: center;
}

#animated-div {
    height: 200px;
    width: 200px;
    background-color: hotpink;
}

#card-container {
    width: 80%;
    height: 70%;
   
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

#card-child {
    height: 100%;
    width: 20%;
    
}

#reveal-div {
    height: 100%;
    width: 100%;
}



