#micro-header {
    height: 7.5vh;
    width: 100vw;
    background-color: antiquewhite;
}

#main-section {
    height: 92.5vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content: center;
}

#main-flex-container {
    width: 60vw;
    height: 70vh;
    display: flex;
    border: solid black 1px;
}

#image-section, #description-section {
    width: 50%;
    height: 100%;
    
}

#image-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#img-container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
   
}

#size-selection {
    width: 100%;
    height:40%;
    background-color: rgb(255, 255, 255);
    border-right: solid black 1px;
}

#grid-container-size {
    display: grid;
    height: 90%;
    background-color: rgb(255, 255, 255);
    row-gap: 15px;
    margin-top: 20px;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}
#button-div p {
    width: 50px;
}

#shopping-trolley {
    padding-top: 10px;
    padding-left: 0px;
    
}

#cartcounter {
    padding-right: 10px;
    padding-left: 10px;
}

#checkout-div {
    width: 250px;
    height: 50px;
}

#checkout-div p {
    font-size: 1.5rem;
}
#checkout-button {
    width: 100px;
}

#button-div {
    text-align: center;
}

#button-div p:hover {
    color: orange;
}


#size-button {
    height: 75px;
}

#size-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#description-section {
    display: flex;
    flex-direction: column;
}
#shoe-name {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#shoe-name h1 {
    padding-top: 10px;
    padding-left: 5px;
}

#shoe-name h2 {
    padding-top: 10px;
    padding-right: 5px;
    margin-bottom: 14px;
    margin-top: 0;
}

#characteristic-buttons {
    height: 10%;
    display: flex;
    align-items: center;
   
}
#characteristic-buttons p {
    font-size: 1.3rem;
}

#description {
    height: 40%;
    
}
#description p {
    font-size: 1.2rem;
}

#checkout {
    height: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#checkout-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#add-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
}

#continue-shopping {
    height: 60px;
}

#twobutton-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between
}