
#display-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 45px;
    row-gap: 45px;
    width: 93%;
    padding-top: 50px;

}

#container {
    height: 300px;

}


#no-shoes {
    height: 24vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1313px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    
}

@media only screen and (max-width: 920px) {
    .grid-container {
        grid-template-columns: auto;
        
    }

    #display-container {
        padding-left: 100px;
        padding-right: 100px;
    }
    
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: auto;
    }
    #display-container {
        padding-left: 80px;
        padding-right: 80px;
    }
    
}

