
#display-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 45px;
    row-gap: 45px;
    width: 93%;
    padding-top: 50px;

}



#container {
    height: 300px;

}


#no-shoes {
    height: 24vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}


