
#container-shoe {
    height: 100%;
    width: 100%;
    border: 2px solid #494F55;
    background-color: white;
    border-radius: 5px;
 }


#image-placeholder {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#shoe-txt-container {
    background-color: #ffffff;
    border-top: black solid 1px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nameAndBrand, #typeAndPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#shoeName {
    padding-left: 5px;
}

#shoeType {
    padding-left: 5px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shoePrice {
    padding-right: 5px;
}

img {
    aspect-ratio: auto;
    max-width: 400px;
    width: auto;

}

#brandLogo {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

#shoeName p {
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    padding-left: 7px;
    font-size: 1.1rem;
}

#brandLogo p, #shoePrice p {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 300;
    
}


