
#display-container {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 45px;
    row-gap: 45px;
    width: 93%;
    padding-top: 50px;

}



#container {
    height: 300px;

}



